{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^[\"'](react)['\"]$",
		"^(react)(.*)$",

		"<THIRD_PARTY_MODULES>",

		"^(@?)app/(.*)$",
		"^(@?)type(s?)/(.*)$",
		"^(@?)process/(.*)$",
		"^(@?)pages/(.*)$",
		"^(@?)features/(.*)$",
		"^(@?)entities/(.*)$",
		"^(@?)shared/(.*)$",

		"^[./](.*)$",

		"^((@?).*)(.module).(s?)css$",
		"^(@?)stories/(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
