header {
    @include box;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    height: 72px;
    padding: 0 20px;

    .header__content {
        max-width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding: 0 30px;

        .header__content-logo {
            a.logo {
                display: block;

                img {
                    width: 201px;
                    height: 36px;
                }

                &:hover {
                    color: #fff;

                    .tooltip {
                        visibility: visible;
                        opacity: 1;
                        transform: translate(-50%, 170%);
                    }
                }
            }

            .tooltip {
                background-color: #fff;
                color: #000;
                display: block;
                position: absolute;
                bottom: 10px;
                left: 50%;
                font-size: 14px;
                font-family: 'Rubik', sans-serif;
                opacity: 0;
                transform: translate(-50%, 170%);
                transition: opacity 0.1s;
                z-index: 2;
                width: max-content;
                height: max-content;
                padding: 8px;
                border-radius: 3px;

                &:after {
                    content: " ";
                    position: absolute;
                    right: 40%;
                    top: -7px;
                    border-bottom: 8px solid white;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                }
            }
        }

        nav.header__content-pages {
            ul {
                display: flex;
                gap: 20px;
                padding-left: 20px;
                padding-right: 20px;

                li {
                    font-family: Roboto, sans-serif;
                    font-size: 18px;
                    font-weight: 400;

                    a.nav {
                        color: #fff;

                        &:hover {
                            color: #EC2227;
                        }
                    }
                }
            }
        }

        .header__content-icons {
            align-items: center;
            column-gap: 12px;
            display: flex;

            button {
                align-items: center;
                background-color: #262a2c;
                border-radius: 10px;
                cursor: pointer;
                display: flex;
                height: 36px;
                justify-content: center;
                transition: box-shadow .15s ease-in-out;
                width: 36px;

                &:first-child {
                    background: none;
                }

                &:last-child {
                    border-radius: 50%;
                }

                &:hover {
                    background-color: #2f3437;
                }
            }

            button.header__search {
                &:hover {
                    color: #ef5962;
                    background: none;
                }
            }

            button.header__theme {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}