header {
    @include box;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    height: 72px;
    padding: 0 20px;

    .header__content {
        max-width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding: 0 30px;

        .header__content-logo {
            a.logo {
                display: block;

                img {
                    width: 201px;
                    height: 36px;
                }

                &:hover {
                    color: #fff;

                    .tooltip {
                        visibility: visible;
                        opacity: 1;
                        transform: translate(-50%, 170%);
                    }
                }
            }

            .tooltip {
                background-color: #fff;
                color: #000;
                display: block;
                position: absolute;
                bottom: 10px;
                left: 50%;
                font-size: 14px;
                font-family: 'Rubik', sans-serif;
                opacity: 0;
                transform: translate(-50%, 170%);
                transition: opacity 0.1s;
                z-index: 2;
                width: max-content;
                height: max-content;
                padding: 8px;
                border-radius: 3px;

                &:after {
                    content: " ";
                    position: absolute;
                    right: 40%;
                    top: -7px;
                    border-bottom: 8px solid white;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                }
            }
        }

        nav.header__content-pages {
            ul {
                display: flex;
                gap: 20px;
                padding-left: 20px;
                padding-right: 20px;

                li {
                    font-family: Roboto, sans-serif;
                    font-size: 18px;
                    font-weight: 400;

                    a.nav {
                        color: #fff;

                        &:hover {
                            color: #EC2227;
                        }
                    }
                }
            }
            @media (max-width: 1145px) {
                display: none;
            }
        }

        .header__content-icons {
            align-items: center;
            column-gap: 12px;
            display: flex;

            button {
                align-items: center;
                background-color: #262a2c;
                border-radius: 10px;
                cursor: pointer;
                display: flex;
                height: 36px;
                justify-content: center;
                transition: box-shadow .15s ease-in-out;
                width: 36px;

                &:first-child {
                    background: none;
                }

                &:last-child {
                    border-radius: 50%;
                }

                &:hover {
                    background-color: #2f3437;
                }
            }

            button.header__search {
                &:hover {
                    color: #ef5962;
                    background: none;
                }
                @media (max-width: 420px) {
                    display: none;
                }
            }

            button.header__theme {
                @media (max-width: 1145px) {
                    display: none;
                }
                .dropdown {
                    position: relative;
                    display: inline-block;

                    svg.in {
                        display: block;
                        width: 20px;
                        height: 20px;
                    }

                    &:hover ul.dropdown-content {
                        display: block;
                        opacity: 1;
                        transform: translateY(0);
                    }

                    ul.dropdown-content {
                        opacity: 0;
                        position: fixed;
                        background-color: #383838;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        border-radius: 12px;
                        padding: 16px;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        margin: 4px 0 0;
                        top: 72px;
                        right: 124.2px;
                        transform: translateY(-100%);
                        transition: opacity .3s, transform .3s;
                        z-index: 99;

                        li {
                            cursor: pointer;
                            display: flex;
                            &:hover {
                                color: #747C81;
                            }

                            a {
                                color: #747c81;
                                display: block;
                                font-family: 'Rubik', sans-serif;
                                padding: 12px 12px 12px 8px;

                                &:hover {
                                    color: #fff;
                                }

                                p {
                                    font-size: 16px;
                                    float: right;
                                    font-family: 'Rubik', sans-serif;
                                }

                                svg {
                                    width: 16px;
                                    height: 16px;
                                    float: left;
                                    margin-right: 12px;
                                }

                            }
                        }
                    }
                }
            }

        }
    }
}