<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link rel="stylesheet" href="css/all.css" type="text/css" />
    <link rel="stylesheet" href="css/scss.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>GameBlog</title>
</head>

<body>
    <div id="wrapper">
        <header>
            <div id="content">
                <div class="header__content">
                    <div class="header__content-logo">
                        <a class="logo" ref="#">
                            <img src="./images/icon-logo.png" alt="GameBlog">
                            <div class="tooltip">На главную</div>
                        </a>
                    </div>
                    <div class="header__content-nav">
                        <ul>
                            <li>
                                <a class="nav" href="#">Новости</a>
                            </li>
                            <li>
                                <a class="nav" href="#">Читать</a>
                            </li>
                            <li>
                                <a class="nav" href="#">Смотреть</a>
                            </li>
                            <li>
                                <a class="nav" href="#">Блоги</a>
                            </li>
                            <li>
                                <a class="nav" href="#">Стримы</a>
                            </li>
                            <li>
                                <a class="nav" href="#">Игры</a>
                            </li>
                            <li>
                                <a class="nav" href="#">Читы</a>
                            </li>
                            <li>
                                <a class="nav" href="#">Помощь</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__content-icons">
                        <button class="header__search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-search">
                                <circle cx="11" cy="11" r="8" />
                                <path d="m21 21-4.3-4.3" />
                            </svg>
                        </button>
                        <button class="header__theme">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-moon">
                                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
                            </svg>
                        </button>
                        <button class="header__comments">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-message-circle-more">
                                <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
                                <path d="M8 12h.01" />
                                <path d="M12 12h.01" />
                                <path d="M16 12h.01" />
                            </svg>
                        </button>
                        <button class="header__user">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-user-round">
                                <circle cx="12" cy="8" r="5" />
                                <path d="M20 21a8 8 0 0 0-16 0" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>

</html>