.searchModal {
  @apply fixed left-0 right-0 top-[79px];

  animation: Animation 1s;
}

@keyframes Animation {
  from {
    top: -100%;
  }

  to {
    top: 79px;
  }
}

.searchInputBlock {
  @apply relative flex w-full flex-row items-center px-4 py-3 text-[18px];
}

.searchInputIcon {
  @apply absolute ml-4 text-[var(--default-dark-text-color)];
}

.searchInput {
  @apply w-full rounded-lg bg-[var(--item-block-bg-color)] py-4 pl-12 leading-7 text-[var(--text-color)];
}

.searchFormTags {
  @apply cursor-pointer rounded-xl bg-[var(--li-bg-color)] px-4 py-3 text-[var(--text-color)]
	hover:bg-[#414749] active:bg-[#5d5b5b];
}
