.searchModal {
  @apply fixed left-0 top-[1px] w-screen;

  animation: Animation 0.8s;
}

@keyframes Animation {
  from {
    top: -100%;
  }

  to {
    top: 1px;
  }
}

.searchFormTags {
  @apply cursor-pointer rounded-xl bg-[var(--li-bg-color)] px-4 py-3 text-[var(--text-color)]
	hover:bg-[#414749] active:bg-[#5d5b5b];
}
