#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.header__overlay-dialog {
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    transition: bottom 1s;
    align-items: center;

    .header__slider {
        position: relative;
        height: 50%;
        background-color: #1e2224;
        border: 3px solid #41474a;
        border-radius: 16px;
        min-height: 523px;
        width: 426px;
        z-index: 99999;
        margin-top: 72px;
        width: 430px;
        margin: 0 auto;
        overflow: hidden;
        display: block;

        @media (max-width: 769px) {
            margin: 0;
            width: 100%;
            height: 100%;
            left: 0;
            border: none;
            border-radius: 0;
        }

        .slider__wrapper {
            display: flex;
            width: max-content;
            min-height: 523px;
            margin: 0 auto;
            box-shadow: 0 3px 20px 1px #000000;
            transition: transform 0.5s ease-in-out;
            left: 0;
            transition: 1s;
            @media (max-width: 769px) {
                height: 100%;
                width: 200%;
            }

            .slider__slide {
                left: 0;
                transition: 1s;
                width: 426px;
                @media (max-width: 769px) {
                    width: 100%;
                }
                .header__login {
                    padding: 68px 24px 48px;

                    .header__dialog {
                        position: relative;

                        .header__account {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .header__text {
                                font-family: 'Rubik', sans-serif;
                                color: #dce6eb;
                                text-align: center;

                                h1 {
                                    margin-bottom: 44px;
                                    font-size: 24px;
                                    font-weight: bold;
                                    line-height: 34px;
                                }

                                p {
                                    font-size: 18px;
                                    line-height: 30px;
                                    margin-bottom: 16px;
                                    font-weight: 500;
                                }
                            }

                            .header__socials {
                                column-gap: 16px;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                                row-gap: 16px;

                                button {
                                    height: 38px;
                                    width: 38px;
                                    background: 0 0;
                                    border: none;
                                    border-radius: 0;

                                    svg {
                                        height: 100%;
                                        width: 100%;
                                        transition: transform 0.3s;

                                        &:hover {
                                            transform: scale(1.1);
                                        }
                                    }
                                }
                            }
                            button.header__sign-up {
                                margin-top: 48px;
                                align-items: center;
                                background-color: #262a2c;
                                border-radius: 8px;
                                column-gap: 8px;
                                display: flex;
                                font-family: 'Roboto', sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                height: 40px;
                                justify-content: center;
                                padding: 8px 16px;
                                text-decoration: none;
                                color: #b0b4b8;
                    
                                svg {
                                    width: 20px;
                                    height: 20px;
                    
                                }
                    
                                &:hover {
                                    background-color: #2d3133;
                                }
                            }
                        }
                    }

                    .header__rules {
                        position: absolute;
                        bottom: -43%;
                        left: 0;
                        right: 0;

                        p {
                            color: #747c81;
                            font-size: 14px;
                            line-height: 20px;
                            padding: 0 30px 16px;
                            text-align: center;
                            font-weight: 500;
                            font-family: 'Rubik', sans-serif;

                            a {
                                text-decoration: underline;
                                color: #747c81;

                                &:hover {
                                    color: #b0b4b8;
                                }
                            }
                        }
                    }
                }

                .header__fill-in {
                    padding: 68px 24px 66px;

                    .header__window {
                        .header__complete {
                            h1 {
                                margin-bottom: 28px;
                                color: #dce6eb;
                                font-weight: bold;
                                font-family: 'Rubik', sans-serif;
                                font-size: 24px;
                                line-height: 34px;
                                text-align: center;
                            }

                            form.header__form {
                                .header__field {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    cursor: auto;

                                    input {
                                        background-color: #262a2c;
                                        border: 2px solid #2f3437;
                                        border-radius: 8px;
                                        color: #ffffff;
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 16px;
                                        height: 40px;
                                        line-height: 28px;
                                        padding: 5px 16px;
                                        transition: box-shadow .15s ease-in-out;
                                        width: 100%;

                                        &:focus {
                                            border-color: #262a2c;
                                            border: solid #383D6E;
                                        }
                                    }

                                    p.header__no-error {
                                        opacity: 0;
                                        width: 100%;
                                        font-size: 14px;
                                        line-height: 20px;
                                        margin-top: 4px;
                                    }

                                    .header__captcha {
                                        background-color: #222222;
                                        border: 2px solid #525252;
                                        border-radius: 3px;
                                        color: #fff;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        .header__text {
                                            font-family: 'Roboto', 'helvetica', 'arial', sans-serif;
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 17px;
                                        }

                                        .header__spinner {
                                            position: relative;
                                            width: 32px;
                                            height: 32px;
                                            display: flex;
                                            margin: 0 12px 2px 12px;
                                            align-items: center;
                                            justify-content: center;
                                        }

                                        @include captcha;

                                        .header__logo-captcha {
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            height: 100%;
                                            align-self: flex-end;
                                            margin: 0 8px;

                                            img {
                                                height: 24px;
                                                margin: 0 13px;
                                                width: 24px;
                                            }

                                            p {
                                                color: #9d9ba7;
                                                font-weight: 700;
                                                margin: 6.4px 0 3.2px 0;
                                                font-family: 'Roboto', sans-serif;
                                                font-size: 10px;
                                            }

                                            span {
                                                color: #9d9ba7;
                                                font-size: 8px;
                                            }
                                        }
                                    }

                                    button.header__done {
                                        margin-top: 32px;
                                        align-items: center;
                                        background-color: #008761;
                                        border: none;
                                        border-radius: 8px;
                                        color: #fff;
                                        column-gap: 8px;
                                        display: flex;
                                        font-family: 'Roboto', sans-serif;
                                        font-size: 16px;
                                        font-weight: 400;
                                        height: 40px;
                                        justify-content: center;
                                        padding: 8px 16px;
                                        text-decoration: none;
                                        transition: box-shadow .15s ease-in-out;
                                    }
                                }
                            }
                        }
                    }

                    .header__rules {
                        position: absolute;
                        bottom: -16%;
                        left: 0;
                        right: 0;

                        p {
                            color: #747c81;
                            font-size: 14px;
                            line-height: 20px;
                            padding: 0 30px 16px;
                            text-align: center;
                            font-weight: 500;
                            font-family: 'Rubik', sans-serif;

                            a {
                                text-decoration: underline;
                                color: #747c81;

                                &:hover {
                                    color: #b0b4b8;
                                }
                            }
                        }
                    }
                }
            }

        }

        button.header__close {
            position: absolute;
            top: 8px;
            right: 8px;
            color: #747c81;
            width: 32px;
            height: 32px;
            z-index: 1;

            &:hover {
                color: #EC2227;
            }

            svg {
                display: block;
                width: 100%;
                height: 100%;
            }

        }

        button.header__back {
            align-items: center;
            border-radius: 8px;
            color: #dce6eb;
            display: flex;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            left: 7px;
            line-height: 28px;
            padding: 0 8px 0 0;
            position: absolute;
            top: 10px;

            &:hover {
                color: #EC2227;
            }

            svg {
                display: block;
                width: 28x;
                height: 28px;
            }
        }
    }

    .header__slider.active {
        top: 0;
    }
}

.header__overlay-dialog.active {
    bottom: 0;
}