#wrapper,
main,
#content,
#sidebar,
aside,
section{
	@include box;
}
body{
	background-color: #161B1D;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
button{
	background: none;
	color: #fff;
}