.userAuthBlockOverflow {
	@apply flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 z-0 justify-center items-center w-full md:inset-0 h-full max-h-full;
	animation: Animation 1.3s;
}
@keyframes Animation {
	from {
		top: 100%;
	}
	to {
		top: 0;
	}
}

.userAuthBlockPosition {
	@apply flex text-center relative justify-center items-center p-4 w-full max-w-md max-h-full;
}

.userAuthBlockWrapper {
	@apply relative bg-[var(--modal-bg-color)] rounded-3xl shadow-2xl;
	border: 3px solid #41474a;
	padding: 68px 24px 48px;
}

.userAuthHeaderBtnClose {
	@apply absolute cursor-pointer top-3 end-2.5 text-[var(--default-dark-text-color)] text-sm w-8 h-8 ms-auto inline-flex justify-center items-center;
}

.useAuthContent {
	@apply p-4 md:p-5 text-center gap-3 text-[var(--text-color)];
}

.userAuthTitle {
	@apply text-[var(--text-color)] items-center text-2xl font-bold mb-[44px];
}

.userAuthBtnSocialIcon ul {
	@apply flex flex-row justify-center items-center py-5 gap-7;
}

.userAuthBtnRegistration {
	@apply rounded-lg px-4 text-lg bg-[var(--li-bg-color)] text-[var(--text-color)] h-[48px] text-[#b0b4b8]
	 hover:bg-[#2d3133] mt-[48px];
	padding: 8px 16px;
}

.userAuthBtnPrivacy {
	@apply text-[var(--default-modal-text-color)] text-sm w-full mt-5 py-2;
	a {
		text-decoration: underline;
	}
}
.icon:hover {
	color: var(--hover-active-color);
}
