.article {
    display: flex;
    flex-direction: column;

    .article__box {
        display: grid;
        grid-column-gap: 16px;
        border-bottom: 2px solid #262A2C;
        grid-template-columns: clamp(110px, 30%, 196px) 1fr;
        padding: 24px 0;

        a {
            picture {
                border-radius: 8px;
                display: block;
                height: 110px;
                max-height: 110px;
                overflow: hidden;
                position: relative;
                width: 100%;
                z-index: 1;

                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                    transition: transform 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

        }

        .article__box-part {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            justify-content: space-between;

            a.box__part-top {
                line-height: 28px;
                font-size: 18px;
                font-weight: 500;
                font-family: 'Rubik,sans-serif';
                color: #fff;

                &:hover {
                    color: #EC2227;
                }
                @media(max-width: 600px) {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

            .part__bottom {
                display: flex;
                flex-direction: column;
                row-gap: 4px;

                .part__bottom-filter {
                    a.bottom__filter-item {
                        color: #41474A;
                        font-size: 14px;
                        line-height: 24px;
                        font-family: Roboto, sans-serif;

                        &:hover {
                            color: #EC2227;
                        }

                        &::after {
                            content: "|";
                            margin-left: 2px;
                            color: #41474A;
                        }
                    }

                    @media(max-width: 600px) {
                        display: none;
                    }
                }

                .part__bottom-inform {
                    color: #747C81;
                    display: flex;
                    justify-content: space-between;

                    span {
                        font-size: 16px;
                        line-height: 1.625;
                        font-family: Roboto, sans-serif;
                        @media(max-width: 600px) {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }

                    a.bottom__inform-view {
                        display: flex;
                        text-decoration: none;
                        align-items: center;
                        font-size: 16px;
                        line-height: 1.625;
                        font-family: Roboto, sans-serif;
                        color: #747C81;

                        &:hover {
                            color: #EC2227;
                        }
                    }
                }
            }

        }
    }
}