@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css";

:root {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color-scheme: light dark;
	font-synthesis: none;

	text-rendering: optimizeLegibility;
	color: rgba(255, 255, 255, 0.87);
	font-weight: 400;

	font-size: 14px;
	line-height: 1.5;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: #242424;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}

.active {
    color: #ec2227;
}