/* SCSS Compiled */
* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  overflow: visible;
  overflow-wrap: normal;
  word-break: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style-type: none;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}

html {
  scroll-behavior: smooth;
}

a, button, input, textarea, form {
  color: #000;
  text-decoration: none;
  border: none;
}
a:hover, button:hover, input:hover, textarea:hover, form:hover {
  cursor: pointer;
}

span {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: clip;
}

li {
  list-style-type: none;
}

[aria-hidden=true] {
  visibility: hidden;
}

body {
  background-color: #1E2224;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.article .article__box {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 16px;
  border-bottom: 2px solid #5A6165;
  -ms-grid-columns: clamp(110px, 30%, 196px) 16px 1fr;
  grid-template-columns: clamp(110px, 30%, 196px) 1fr;
  padding: 24px 0;
}