main {
  display: grid;
  grid-template-columns: 314px 1fr;
  max-width: 1280px;
  margin: 16px auto;
  padding: 32px;
  border-radius: 16px;
  .title__content {
    grid-column: 1 / span 2;
    margin-bottom: 32px;
    h1 {
      font-size: 26px;
      line-height: 32px;
      font-weight: bold;
      color: #dce6eb;
      @media (max-width: 769px){
        font-size: 22px;
        line-height: 28px;
      }
    }
  }
  aside {
    position: sticky;
    padding: 0 32px 0 0;
    scrollbar-width: none;
    @media (max-width: 1025px){
      display: none;
    }
    .aside__content {
      h5 {
        margin: 10px 0;
        padding: 16px 0 0 16px;
        font-family: "Rubik", sans-serif;
        color: #747c81;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
      }
      ul.sidebar__information {
        display: flex;
        flex-direction: column;
        gap: 4px;
        li.aside__category {
          a {
            display: flex;
            cursor: pointer;
            align-items: center;
            border-radius: 12px;
            font-family: "Rubik", sans-serif;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            padding: 12px 16px;
            width: 207px;
            color: #fff;
            &:hover,
            :focus {
              background-color: #2f3437;
            }
          }
        }
      }
      hr {
        margin: 24px 0;
        border-bottom: 1px solid #252729;
      }
      button.aside__settings {
        padding: 12px 16px;
        background-color: #1e2224;
        display: flex;
        align-items: center;
        color: #fff;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        width: 207px;
        border-radius: 12px;
        &:hover,
        :focus {
          background-color: #2f3437;
        }
      }
      svg {
        margin-right: 10px;
        height: 20px;
        width: 20px;
      }
    }
  }
}
