.commentsBlock {
  @apply fixed bottom-1 right-0 top-[79px] flex w-[400px] flex-col rounded-3xl bg-[#191d1f] shadow-2xl;

  // 	animation: Animation 1.3s;
}

@keyframes Animation {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

.commentsBlockHeader {
  @apply flex items-center justify-between p-4 text-[#dce6eb];

  padding: 24px 16px 0;
}

.icon:hover {
  color: var(--hover-active-color);
}

.commentsBlockBody {
  @apply flex-grow touch-auto overflow-auto scroll-auto p-4;
}

.blockWithoutComment {
  @apply text-center text-2xl font-semibold text-[var(--default-dark-text-color)];
}
