// Zer0  
* {
	position: relative;
	box-sizing: border-box;
	z-index: 0;

	padding: 0;
	margin: 0;
	border: none;
	outline: none;

	background-image: none;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-clip: padding-box;

	overflow: visible;
	overflow-wrap: normal;
	word-break: normal;

	user-select: none;

	list-style-type: none;

	font-weight: normal;
	font-style: normal;
	line-height: 1em;
}

html {
	scroll-behavior: smooth;
}

a,
button,
input,
textarea,
form {
	color: #000;
	text-decoration: none;
	border: none;

	&:hover {
		cursor: pointer;
	}
}

span {
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
	overflow: clip;
}

body {
	background-color: #161B1D;
}
main{
	background-color: #1E2224;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
[aria-hidden="true"] {
	visibility: hidden;
}