<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta list__name="viewport" content="width=device-width; initial-scale=1">
	<link rel="stylesheet" href="css/all.css" type="text/css" />
	<link rel="stylesheet" href="css/scss.css" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
	<title>GameBlog</title>
</head>

<body>
	<div id="wrapper">
		<main>
			<div class="article">
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="article__box">
					<a class="article__box-img" href="#">
						<img src="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg"
							srcset="https://images.stopgame.ru/news/2024/01/15/c196x110/71hFQokIovjSfimwodK-DA/TAsoYFq.jpg, https://images.stopgame.ru/news/2024/01/15/c784x440/DbZ7wst3PONcDL2lO0eTaA/TAsoYFq.jpg 2x"
							width="196" height="110" alt="" loading="lazy">
					</a>
					<div class="article__box-part">
						<a href="#">Ролики с геймплеем из режима No Return для ремастера The Last of Us Part II</a>
						<div class="part__bottom">
							<div class="part__bottom-filter">
								<a href="#">PlayStation 5</a>
							</div>
							<div class="part__bottom-inform">
								<span>Сегодня, 22:00</span>
								<a href="#">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
										fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
										stroke-linejoin="round" class="lucide lucide-message-circle-more">
										<path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z" />
										<path d="M8 12h.01" />
										<path d="M12 12h.01" />
										<path d="M16 12h.01" />
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</body>

</html>