<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta list__name="viewport" content="width=device-width; initial-scale=1">
	<link rel="stylesheet" href="css/all.css" type="text/css" />
	<link rel="stylesheet" href="css/scss.css" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
	<title>GameBlog</title>
</head>

<body>
	<div id="wrapper">
		<main>
				<div class="article">
					<div class="article__head">
						<h3>Победители косарей</h3>
						<div class="head__nav">
							<a href="#">Смотреть все</a>
							<button></button>
							<button></button>
						</div>
					</div>
					<div class="article__box">
						<ul class="article__part">
							<li>
								<a>

								</a>
								<div class="part__trophy">

								</div>
								<div class="part__rating">

								</div>
								<div class="part__decribe">
									<div class="describe__top">
										<div class="top__blog">
											<svg>

											</svg>
											<span>Блог</span>
										</div>
										<div class="top__user">
											<a href="#">
												<svg></svg>
												<span></span>
											</a>
										</div>
									</div>
									<div class="describe__content">
										<a href="#"></a>
									</div>
									<div class="describe__info">
										<div class="info__date">
											<p></p>
										</div>
										<div class="info__icons">
											<button>
												<svg></svg>
											</button>
											<button>
												<svg></svg>
											</button>
											<a href="#">
												<svg></svg>
											</a>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
		</main>
	</div>
</body>

</html>