<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1">
	<link rel="stylesheet" href="css/all.css" type="text/css" />
	<link rel="stylesheet" href="css/scss.css" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
	<title>GameBlog</title>
</head>

<body>
	<div id="wrapper">
		<footer>
			<div id="content">
				<div class="layout">
					<div class="top">
						<div class="logo">
							<a href="#">
								<img src="./images/icon-logo.png" alt="GameBlog">
							</a>
							<p>Рассказываем вам о видеоиграх</p>
						</div>
						<ul class="soc">
							<li>
								<a class="social-icon" href="#" target="_blank">
									<img src="./images/icon-boosty.png" alt="GameBlog">
									<div class="tooltip">Страница StopGame на Boosty</div>
								</a>
							</li>
							<li>
								<a class="social-icon" href="#" target="_blank">
									<img src="./images/icon-vk.png" alt="GameBlog">
									<div class="tooltip">Группа StopGame ВКонтакте</div>
								</a>
							</li>

							<li>
								<a class="social-icon" href="#" target="_blank">
									<img src="./images/icon-yandex.png" alt="GameBlog">
									<div class="tooltip">Канал StopGame в Яндекс.Дзен</div>
								</a>
							</li>
							<li>
								<div class="dropdown">
									<img src="./images/icon-yt.png" alt="GameBlog">
									<ul class="dropdown-content">
										<li>
											<a href="#" target="_blank">
												<p>StopGame.ru</p>
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" fill="none" stroke="currentColor"
													stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
													class="lucide lucide-arrow-right">
													<path d="M5 12h14" />
													<path d="m12 5 7 7-7 7" />
												</svg>
											</a>
										</li>
										<li>
											<a href="#" target="blank">
												<p>StopGame Live</p>
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" fill="none" stroke="currentColor"
													stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
													class="lucide lucide-arrow-right">
													<path d="M5 12h14" />
													<path d="m12 5 7 7-7 7" />
												</svg>
											</a>
										</li>
										<li>
											<a href="#" target="_blank">
												<p>StopGame: Инфакт</p>
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" fill="none" stroke="currentColor"
													stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
													class="lucide lucide-arrow-right">
													<path d="M5 12h14" />
													<path d="m12 5 7 7-7 7" />
												</svg>
											</a>
										</li>
									</ul>
								</div>
							<li>
								<a class="social-icon" href="#" target="_blank">
									<img src="./images/icon-twitter.png" alt="GameBlog">
									<div class="tooltip"> Профиль StopGame в Twitter</div>
								</a>
							</li>
							<li>
								<div class="dropdown">
									<img src="./images/icon-telegram.png" alt="GameBlog">
									<ul class="dropdown-content">
										<li>
											<a href="#" target="_blank">
												<p>StopGame.ru</p>
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" fill="none" stroke="currentColor"
													stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
													class="lucide lucide-arrow-right">
													<path d="M5 12h14" />
													<path d="m12 5 7 7-7 7" />
												</svg>
											</a>
										</li>
										<li>
											<a href="#" target="blank">
												<p>StopGame.ru Новости</p>
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
													viewBox="0 0 24 24" fill="none" stroke="currentColor"
													stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
													class="lucide lucide-arrow-right">
													<path d="M5 12h14" />
													<path d="m12 5 7 7-7 7" />
												</svg>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a class="social-icon" href="#" target="_blank">
									<img src="./images/icon-steam.png" alt="GameBlog">
									<div class="tooltip">Коммьюнити StopGame в Steam</div>
								</a>
							</li>
							<li>
								<a class="social-icon" href="#" target="_blank">
									<img src="./images/icon-twitch.png" alt="GameBlog">
									<div class="tooltip">Канал StopGame в Twitch</div>
								</a>
							</li>
							<li>
								<a class="social-icon" href="#" target="_blank">
									<img src="./images/icon-discord.png" alt="GameBlog">
									<div class="tooltip">Сервер StopGame в Discord</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="middle">
						<div class="first">
							<div class="part">
								<div class="name">
									<li>
										<a href="#">Новости</a>
									</li>
								</div>
								<div class="fill">
									<li>
										<a href="#">Все</a>
									</li>
									<li>
										<a href="#">PC</a>
									</li>
									<li>
										<a href="#">Xbox One</a>
									</li>
									<li>
										<a href="#">Xbox Series X|S</a>
									</li>
									<li>
										<a href="#">PlayStation 4</a>
									</li>
									<li>
										<a href="#">PlayStation 5</a>
									</li>
									<li>
										<a href="#">Stadia</a>
									</li>
									<li>
										<a href="#">VR</a>
									</li>
									<li>
										<a href="#">Nintendo Switch</a>
									</li>
									<li>
										<a href="#">MMO</a>
									</li>
									<li>
										<a href="#">Мобильные</a>
									</li>
									<li>
										<a href="#">Социальные</a>
									</li>
									<li>
										<a href="#">Фановые</a>
									</li>
									<li>
										<a href="#">Железо</a>
									</li>
									<li>
										<a href="#">Индустрия</a>
									</li>
									<li>
										<a href="#">Киберспорт</a>
									</li>
									<li>
										<a href="#">Кино</a>
									</li>
								</div>
							</div>
							<div class="part">
								<div class="name">
									<li>
										<a href="#">Читать</a>
									</li>
								</div>
								<div class="fill">
									<li>
										<a href="#">Главная</a>
									</li>
									<li>
										<a href="#">Статьи</a>
									</li>
									<li>
										<a href="#">Обзоры</a>
									</li>
									<li>
										<a href="#">Превью</a>
									</li>
									<li>
										<a href="#">Первая полоса</a>
									</li>
									<li>
										<a href="#">Интервью</a>
									</li>
									<li>
										<a href="#">Подборки</a>
									</li>
								</div>
							</div>
							<div class="part">
								<div class="name">
									<li>
										<a href="#">Cмотреть</a>
									</li>
								</div>
								<div class="fill">
									<li>
										<a href="#">Все</a>
									</li>
									<li>
										<a href="#">Главная</a>
									</li>
									<li>
										<a href="#">Видеообзоры</a>
									</li>
									<li>
										<a href="#">История серии</a>
									</li>
									<li>
										<a href="#">Рубрикатор</a>
									</li>
									<li>
										<a href="#">Авторские видео</a>
									</li>
									<li>
										<a href="#">Инфакт</a>
									</li>
									<li>
										<a href="#">Трейлеры</a>
									</li>
									<li>
										<a href="#">Все видео</a>
									</li>
								</div>
							</div>
						</div>
						<div class="second">
							<div class="part">
								<div class="name">
									<li>
										<a href="#">Игры</a>
									</li>
								</div>
								<div class="fill">
									<li>
										<a href="#">Лучшие игры</a>
									</li>
									<li>
										<a href="#">Календарь</a>
									</li>
									<li>
										<a href="#">Каталог</a>
									</li>
									<li>
										<a href="#">Отзывы</a>
									</li>
									<li>
										<a href="#">Подборки игр</a>
									</li>
									<li>
										<a href="#">Факты</a>
									</li>
								</div>
							</div>
							<div class="part">
								<div class="name">
									<li>
										<a href="#">Блоги</a>
									</li>
								</div>
								<div class="fill">
									<li>
										<a href="#">Все</a>
									</li>
									<li>
										<a href="#">Лучшие за неделю</a>
									</li>
									<li>
										<a href="#">Победители косарей</a>
									</li>
									<li>
										<a href="#">+5</a>
									</li>
									<li>
										<a href="#">+100</a>
									</li>
									<li>
										<a href="#">StopGame</a>
									</li>
								</div>
							</div>
							<div class="part">
								<div class="name">
									<li>
										<a href="#">Стримы</a>
									</li>
								</div>
								<div class="fill">
									<li>
										<a href="#">Расписание</a>
									</li>
									<li>
										<a href="#">Записи</a>
									</li>
									<li>
										<a href="#">Кек</a>
									</li>
								</div>
							</div>
						</div>
					</div>
					<div class="bottom">
						<div class="left">
							<li>
								<a href="#">Помощь</a>
							</li>
							<li>
								<a href="#">О проекте</a>
							</li>
							<li>
								<a href="#">Реклама на сайте</a>
							</li>
							<li>
								<a href="#">Помощь по сайту</a>
							</li>
							<li>
								<a href="#">Обратная связь</a>
							</li>
							<li>
								<a href="#">Соглашение о пользование</a>
							</li>
						</div>
						<div class="right">
							<div class="holder">
								<img src="./images/icon-age.png" alt="GameBlog">
							</div>
							<div class="text">
								<p>© 1999–2023 StopGame.ru</p>
								<p>Использование любых материалов сайта<br>
									без согласования с администрацией запрещено</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>