@mixin tooltip {
    background-color: #fff;
    color: #000;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    opacity: 0;
    z-index: 2;
    width: max-content;
    height: max-content;
}