/* SCSS Compiled */
/*usage  @include font-size(13);*/
#wrapper,
main,
#content,
#sidebar,
aside,
section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.layout {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  width: 900px;
  margin: 0 auto;
}

* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  overflow: visible;
  overflow-wrap: normal;
  word-break: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style-type: none;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}

html {
  scroll-behavior: smooth;
}

a, button, input, textarea, form {
  color: #000;
  text-decoration: none;
  border: none;
}
a:hover, button:hover, input:hover, textarea:hover, form:hover {
  cursor: pointer;
}

span {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: clip;
}

[aria-hidden=true] {
  visibility: hidden;
}

.filters {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  background-color: #1E2224;
  width: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
  margin: 100px 0 0 100px;
}
.filters .filter_list {
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  row-gap: 8px;
}
.filters .filter_list li {
  height: 26px;
}
.filters .filter_list li .filter {
  padding: 6px 16px;
  margin: 5px;
  background-color: #161B1D;
  border-radius: 13px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  line-height: 14px;
}
.filters .filter_list li .filter:hover {
  background-color: #262A2C;
}
.filters .filter_list li .filter:focus {
  background-color: #41474A;
}