.searchModal {
	@apply fixed top-[79px] left-0 right-0;
	animation: Animation 0.5s;
}
@keyframes Animation {
	from {
		top: -100%;
	}
	to {
		top: 79px;
	}
}
.searchInputBlock {
	@apply items-center flex flex-row relative py-3 text-[18px] w-full;
}

.searchInputIcon {
	@apply text-[var(--default-dark-text-color)] absolute ml-3;
}

.searchInput {
	@apply rounded-lg py-4 pl-12 leading-7 w-full  bg-[var(--itemBlock-bg-color)] text-[var(--text-color)];
}

.searchFormTags {
	@apply px-4 py-3 bg-[var(--li-bg-color)] text-[var(--text-color)] rounded-xl cursor-pointer
	hover:bg-[#414749] active:bg-[#5d5b5b];
}
