#PORT server
PORT = number

#Path posgresql db 
#format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL = string

#Secret key for jwt
SECRET_JWT_ACCESS = string
SECRET_JWT_REFRESH = string

# url front 
CLIENT_URL = string