.filters {
	background-color: #1E2224;

	.filters__tabs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.filter__list {
			column-gap: 5px;
			display: flex;
			flex-wrap: wrap;
			list-style-type: none;
			padding: 0;
			row-gap: 8px;

			li {
				height: 26px;

				a.filter {
					display: block;
					border-radius: 13px;
					padding: 6px 16px;
					background-color: #161B1D;
					cursor: pointer;
					color: #fff;
					font-size: 14px;
					font-weight: 500;
					line-height: 14px;
					font-family: 'Rubik', sans-serif;

					&:hover {
						background-color: #262A2C;
					}

					&:focus {
						background-color: #41474A;
					}
				}
			}

		}
	}
}