footer {
    position: relative;

    .footer__information {
        max-width: 1280px;
        margin: 24px auto 0;
        padding: 0 32px 58px;
        position: relative;

        @media (max-width: 600px) {
            padding: 28px 16px 40px;
        }

        .footer__box {
            grid-column-gap: 7.73%;
            grid-row-gap: 64px;
            display: grid;
            grid-template-columns: 1fr min-content;

            @media (max-width: 1145px) {
                grid-row-gap: 20px;
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 870px) {
                grid-template-columns: 1fr min-content;
            }

            .footer__logo {
                display: flex;
                flex-direction: column;

                a {
                    height: 40px;
                    width: 224px;
                    display: block;
                    @media (max-width: 600px) {
                        height: 22px;
                        width: 122px;
                    }

                    img {
                        height: 40px;
                        width: 224px;
                        display: block;

                        @media (max-width: 600px) {
                            height: 22px;
                            width: 122px;
                        }
                    }
                }


                p {
                    margin: 16px 0 0 0;
                    font-size: 16px;
                    line-height: 1.625;
                    font-family: 'Rubik', sans-serif;
                    color: #8B8D8E;

                    @media (max-width: 1145px) {
                        font-size: 12px;
                    }
                    @media (max-width: 870px) {
                        margin: 12px 0 0 0;
                    }
                }

                @media (max-width: 1145px) {
                    grid-column: 1/span 2;
                    grid-row: 1/2;
                }
            }

            ul.footer__icons {

                column-gap: 32px;
                display: flex;

                li {
                    width: 25px;
                    height: 25px;
                    position: relative;

                    a.social-icon {
                        width: 25px;
                        height: 25px;
                        display: block;

                        svg {
                            display: block;
                            width: 25px;
                            height: 25px;
                            color: white;

                            &:hover {
                                color: #6A7276;
                            }
                        }

                        &:hover {
                            color: #fff;

                            .tooltip {
                                visibility: visible;
                                opacity: 1;
                                transform: translate(-50%, -150%);
                            }
                        }

                        &:active {
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
                        }
                    }

                    .dropdown {
                        position: relative;
                        display: inline-block;

                        svg.in {
                            display: block;
                            width: 25px;
                            height: 25px;
                            color: white;

                            &:hover {
                                color: #6A7276;
                            }

                        }

                        &:hover .dropdown-content {
                            display: block;
                            opacity: 1;
                        }

                        .dropdown-content {
                            opacity: 0;
                            position: absolute;
                            background-color: #383838;
                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                            border-radius: 12px;
                            z-index: 2;
                            left: -350%;
                            top: 32px;
                            transition: max-height 0.3s ease, opacity 0.3s ease;

                            li {
                                width: 200px;
                                height: 52px;

                                &:hover {
                                    color: #747C81;
                                }

                                a {
                                    color: #fff;
                                    display: block;
                                    height: 52px;
                                    padding: 16px;
                                    font-family: 'Rubik', sans-serif;

                                    &:hover {
                                        color: #747C81;
                                    }

                                    p {
                                        font-size: 14px;
                                        float: left;
                                        font-family: 'Rubik', sans-serif;
                                    }

                                    svg {
                                        width: 16px;
                                        height: 16px;
                                        float: right;
                                    }

                                }
                            }

                        }
                    }
                }

                @media (max-width: 1145px) {
                    display: none;
                }
            }


            .tooltip {
                background-color: #fff;
                color: #000;
                display: block;
                position: absolute;
                bottom: 10px;
                left: 50%;
                font-size: 14px;
                font-family: 'Rubik', sans-serif;
                opacity: 0;
                transform: translate(-50%, -100%);
                transition: all 0.3s ease;
                z-index: 2;
                width: max-content;
                height: max-content;
                padding: 3px;

                &:after {
                    content: " ";
                    position: absolute;
                    right: 46%;
                    bottom: -7px;
                    border-top: 8px solid white;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                    border-bottom: none
                }
            }

            .footer__list__left {
                overflow: hidden;
                margin-bottom: 64px;

                @media (max-width: 870px) {
                    margin: 0;
                }

                @media (max-width: 600px) {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-top: 12px;
                }

                .list__part {
                    @include middle;
                    margin: 0 0 32px 0;

                    &:nth-child(1) {
                        height: 114px;

                        @media (max-width: 870px) {
                            height: auto;
                        }
                    }

                    @media (max-width: 870px) {
                        margin: 0 0 20px 0;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    @media (max-width: 600px) {
                        margin: 0;
                    }
                }
            }

            .footer__list__right {
                margin: 0 0 64px 0;
                overflow: hidden;

                .list__part {
                    @include middle;

                    &:nth-child(1) {
                        height: 114px;

                        @media (max-width: 870px) {
                            height: auto;
                        }

                    }

                    @media (max-width: 870px) {
                        margin: 0 0 20px 0;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    @media (max-width: 600px) {
                        margin: 0;
                    }
                }

                @media (max-width: 870px) {
                    grid-column: 1/2;
                    margin-bottom: 40px;
                }

                @media (max-width: 600px) {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }

        }

        .footer__help {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;

            .footer__help__left {
                display: flex;
                flex-wrap: wrap;
                gap: 17px;
                justify-content: space-between;
                width: 600px;
                height: max-content;

                li {
                    float: left;
                    display: block;
                    height: max-content;

                    a {
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        font-family: 'Rubik', sans-serif;
                        display: block;
                        height: max-content;

                        &:hover {
                            color: #8B8D8E;
                        }
                    }
                }

                @media (max-width: 870px) {
                    display: none;
                }
            }

            .footer__help__right {
                --restriction-width: 48px;
                grid-column-gap: 15px;
                grid-row-gap: 17px;
                display: grid;
                grid-template-columns: var(--restriction-width) 1fr;

                @media (max-width: 870px) {
                    --restriction-width: 40px;
                    grid-column-gap: 12px;
                    grid-row-gap: 8px;
                }

                img {
                    grid-row-end: span 2;
                    height: var(--restriction-width);
                    width: var(--restriction-width);

                    @media (max-width: 870px) {
                        width: 32px;
                        height: 32px;
                    }
                }

                span {
                    display: block;

                    p {
                        font-size: 16px;
                        font-weight: 600;
                        font-family: Rubik, sans-serif;
                        color: #fff;

                        @media (max-width: 870px) {
                            font-size: 14px;
                        }
                    }

                    &:nth-child(3) {
                        p {
                            color: #71747B;
                            font-weight: normal;
                            line-height: 1.625;
                            font-size: 14px;

                            @media (max-width: 870px) {
                                font-size: 12px;
                            }
                        }

                    }

                    br {
                        @media (max-width: 870px) {
                            display: none;
                        }

                        @media (max-width: 600px) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}