/* SCSS Compiled */
* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  overflow: visible;
  overflow-wrap: normal;
  word-break: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style-type: none;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}

html {
  scroll-behavior: smooth;
}

a, button, input, textarea, form {
  color: #000;
  text-decoration: none;
  border: none;
}
a:hover, button:hover, input:hover, textarea:hover, form:hover {
  cursor: pointer;
}

span {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: clip;
}

[aria-hidden=true] {
  visibility: hidden;
}

#wrapper,
main,
#content,
#sidebar,
aside,
section {
  display: block;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

body {
  background-color: #161B1D;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  color: #fff;
}

header {
  display: block;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 99999;
  height: 72px;
  padding: 0 20px;
}
header .header__content {
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 30px;
}
header .header__content .header__content-logo a.logo {
  display: block;
}
header .header__content .header__content-logo a.logo img {
  width: 201px;
  height: 36px;
}
header .header__content .header__content-logo a.logo:hover {
  color: #fff;
}
header .header__content .header__content-logo a.logo:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 170%);
          transform: translate(-50%, 170%);
}
header .header__content .header__content-logo .tooltip {
  background-color: #fff;
  color: #000;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  opacity: 0;
  -webkit-transform: translate(-50%, 170%);
          transform: translate(-50%, 170%);
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 8px;
  border-radius: 3px;
}
header .header__content .header__content-logo .tooltip:after {
  content: " ";
  position: absolute;
  right: 40%;
  top: -7px;
  border-bottom: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
header .header__content nav.header__content-pages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
header .header__content nav.header__content-pages ul li {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
header .header__content nav.header__content-pages ul li a.nav {
  color: #fff;
}
header .header__content nav.header__content-pages ul li a.nav:hover {
  color: #EC2227;
}
@media (max-width: 1145px) {
  header .header__content nav.header__content-pages {
    display: none;
  }
}
header .header__content .header__content-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__content .header__content-icons button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262a2c;
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  width: 36px;
}
header .header__content .header__content-icons button:first-child {
  background: none;
}
header .header__content .header__content-icons button:last-child {
  border-radius: 50%;
}
header .header__content .header__content-icons button:hover {
  background-color: #2f3437;
}
header .header__content .header__content-icons button.header__search:hover {
  color: #ef5962;
  background: none;
}
@media (max-width: 420px) {
  header .header__content .header__content-icons button.header__search {
    display: none;
  }
}
@media (max-width: 1145px) {
  header .header__content .header__content-icons button.header__theme {
    display: none;
  }
}
header .header__content .header__content-icons button.header__theme .dropdown {
  position: relative;
  display: inline-block;
}
header .header__content .header__content-icons button.header__theme .dropdown svg.in {
  display: block;
  width: 20px;
  height: 20px;
}
header .header__content .header__content-icons button.header__theme .dropdown:hover ul.dropdown-content {
  display: block;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
header .header__content .header__content-icons button.header__theme .dropdown ul.dropdown-content {
  opacity: 0;
  position: fixed;
  background-color: #383838;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  margin: 4px 0 0;
  top: 72px;
  right: 124.2px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  z-index: 99;
}
header .header__content .header__content-icons button.header__theme .dropdown ul.dropdown-content li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__content .header__content-icons button.header__theme .dropdown ul.dropdown-content li:hover {
  color: #747C81;
}
header .header__content .header__content-icons button.header__theme .dropdown ul.dropdown-content li a {
  color: #747c81;
  display: block;
  font-family: "Rubik", sans-serif;
  padding: 12px 12px 12px 8px;
}
header .header__content .header__content-icons button.header__theme .dropdown ul.dropdown-content li a:hover {
  color: #fff;
}
header .header__content .header__content-icons button.header__theme .dropdown ul.dropdown-content li a p {
  font-size: 16px;
  float: right;
  font-family: "Rubik", sans-serif;
}
header .header__content .header__content-icons button.header__theme .dropdown ul.dropdown-content li a svg {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 12px;
}