/* SCSS Compiled */
* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  overflow: visible;
  overflow-wrap: normal;
  word-break: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style-type: none;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}

html {
  scroll-behavior: smooth;
}

a,
button,
input,
textarea,
form {
  color: #000;
  text-decoration: none;
  border: none;
}
a:hover,
button:hover,
input:hover,
textarea:hover,
form:hover {
  cursor: pointer;
}

span {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: clip;
}

body {
  background-color: #161B1D;
}

main {
  background-color: #1E2224;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

[aria-hidden=true] {
  visibility: hidden;
}

#wrapper,
main,
#content,
#sidebar,
aside,
section {
  display: block;
  width: 100%;
  height: auto;
}

button {
  background: none;
  color: #fff;
}

#content {
  max-width: 1280px;
}

#choose-theme {
  opacity: 0;
  position: fixed;
  background-color: #383838;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 16px;
  top: 72px;
  right: 124.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin: 4px 0 0;
  z-index: 99;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s, -webkit-transform 0.3s;
  transition: all 0.3s, -webkit-transform 0.3s;
  transition: all 0.3s, transform 0.3s;
  transition: all 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
#choose-theme a {
  color: #747c81;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 12px 12px 8px;
}
#choose-theme a p {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
#choose-theme a svg {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
#choose-theme a:hover {
  color: #fff;
}
#choose-theme a:hover svg.light {
  color: #f2e14c;
}
#choose-theme a:hover svg.dark {
  color: #5d5fef;
}

#choose-theme.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header__form {
  position: fixed;
  bottom: -100%;
  left: 35%;
  width: 100%;
  height: 50%;
  -webkit-transition: bottom 1.5s;
  transition: bottom 1.5s;
  background-color: #1e2224;
  border: 3px solid #41474a;
  border-radius: 16px;
  min-height: 523px;
  width: 426px;
}
.header__form .header__login {
  position: relative;
  padding: 48px 24px;
}
.header__form .header__login .header__dialog {
  position: relative;
  display: contents;
}
.header__form .header__login .header__dialog .header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__form .header__login .header__dialog .header__account .header__text {
  font-family: "Rubik", sans-serif;
  color: #dce6eb;
}
.header__form .header__login .header__dialog .header__account .header__text h1 {
  margin-bottom: 44px;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;
}
.header__form .header__login .header__dialog .header__account .header__text p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
}
.header__form .header__login .header__dialog .header__account .header__socials {
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 16px;
}
.header__form .header__login .header__dialog .header__account .header__socials button {
  height: 38px;
  width: 38px;
  background: 0 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}
.header__form .header__login .header__dialog .header__account .header__socials button svg {
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header__form .header__login .header__dialog .header__account .header__socials button svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__form .header__login .header__dialog .header__account button.header__sign-up {
  margin-top: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262a2c;
  border-radius: 8px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  padding: 8px 16px;
  text-decoration: none;
  color: #b0b4b8;
}
.header__form .header__login .header__dialog .header__account button.header__sign-up svg {
  width: 20px;
  height: 20px;
}
.header__form .header__login .header__dialog .header__account button.header__sign-up:hover {
  background-color: #2d3133;
}
.header__form .header__login .header__dialog .header__rules {
  position: absolute;
  bottom: -50%;
  left: 0;
}
.header__form .header__login .header__dialog .header__rules p {
  color: #747c81;
  font-size: 14px;
  line-height: 20px;
  padding: 0 30px 16px;
  text-align: center;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}
.header__form .header__login .header__dialog .header__rules p a {
  text-decoration: underline;
  color: #747c81;
}
.header__form .header__login .header__dialog .header__rules p a:hover {
  color: #b0b4b8;
}

.header__form.active {
  bottom: 72px;
}

header {
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: sticky;
  z-index: 99999;
  height: 72px;
  padding: 0 16px;
}
header .header__content {
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header__content .header__content-logo a.logo {
  display: block;
}
header .header__content .header__content-logo a.logo img {
  width: 201px;
  height: 36px;
}
header .header__content .header__content-logo a.logo:hover {
  color: #fff;
}
header .header__content .header__content-logo a.logo:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 170%);
          transform: translate(-50%, 170%);
}
header .header__content .header__content-logo .tooltip {
  background-color: #fff;
  color: #000;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  opacity: 0;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transform: translate(-50%, 170%);
          transform: translate(-50%, 170%);
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
  padding: 8px;
  border-radius: 3px;
}
header .header__content .header__content-logo .tooltip:after {
  content: " ";
  position: absolute;
  right: 40%;
  top: -7px;
  border-bottom: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
header .header__content nav.header__content-pages ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
header .header__content nav.header__content-pages ul li {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
header .header__content nav.header__content-pages ul li a.nav {
  color: #fff;
}
header .header__content nav.header__content-pages ul li a.nav:hover {
  color: #EC2227;
}
@media (max-width: 1145px) {
  header .header__content nav.header__content-pages {
    display: none;
  }
}
header .header__content .header__content-icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__content .header__content-icons button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262a2c;
  border-radius: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  width: 36px;
}
header .header__content .header__content-icons button:first-child {
  background: none;
}
header .header__content .header__content-icons button:last-child {
  border-radius: 50%;
}
header .header__content .header__content-icons button:hover {
  background-color: #2f3437;
}
header .header__content .header__content-icons button.header__search:hover {
  color: #ef5962;
  background: none;
}
@media (max-width: 420px) {
  header .header__content .header__content-icons button.header__search {
    display: none;
  }
}
@media (max-width: 1145px) {
  header .header__content .header__content-icons .header__dropdown {
    display: none;
  }
}
header .header__content .header__content-icons .header__dropdown button.header__theme {
  background-color: #262a2c;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__content .header__content-icons .header__dropdown button.header__theme:hover {
  background-color: #2f3437;
}
header .header__content .header__content-icons .header__dropdown button.header__theme svg.theme {
  display: block;
  width: 20px;
  height: 20px;
}
@media (max-width: 375px) {
  header .header__content .header__content-icons button.header__comments {
    display: none;
  }
}
header .header__content .header__content-icons button.header__burger {
  background: none;
}
header .header__content .header__content-icons button.header__burger svg {
  width: 36px;
  height: 36px;
}