footer {
    @include box;
    height: 745.5px;
    padding: 0 32px 58px;

    .top {
        display: block;
        margin: 32px 0 64px 0;
        height: 82px;

        .logo {
            width: 641px;
            float: left;

            a {
                height: 40px;
                width: 224px;

                img {
                    height: 40px;
                    width: 224px;
                }
            }


            p {
                margin: 16px 0 0 0;
                font-size: 16px;
                line-height: 20px;
                font-family: 'Rubik', sans-serif;
                color: #8B8D8E;
            }
        }

        ul.soc {
            width: 481px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            float: right;

            li {
                width: 25px;
                height: 25px;
                position: relative;

                a.social-icon {
                    width: 25px;
                    height: 25px;

                    &:hover {
                        color: #fff;

                        .tooltip {
                            visibility: visible;
                            opacity: 1;
                            transform: translate(-50%, -150%);
                        }
                    }

                    &:active {
                        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
                    }
                }

                .dropdown {
                    position: relative;
                    display: inline-block;

                    &:hover .dropdown-content {
                        display: block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: #383838;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        border-radius: 12px;
                        z-index: 2;
                        left: 50%;
                        top: 32px;

                        li {
                            width: 200px;
                            height: 52px;

                            a {
                                color: #fff;
                                display: block;
                                padding: 16px;
                                font-family: 'Rubik', sans-serif;

                                &:hover {
                                    color: #747C81;
                                }

                                p {
                                    font-size: 14px;
                                    float: left;
                                    font-family: 'Rubik', sans-serif;
                                }

                                svg {
                                    width: 16px;
                                    height: 16px;
                                    float: right;
                                }

                            }
                        }

                    }
                }
            }
        }
    }

    .tooltip {
        background-color: #fff;
        color: #000;
        display: block;
        position: absolute;
        bottom: 10px;
        left: 50%;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        opacity: 0;
        transform: translate(-50%, -100%);
        transition: all 0.3s ease;
        z-index: 2;
        width: max-content;
        height: max-content;
        padding: 3px;

        &:after {
            content: " ";
            position: absolute;
            right: 46%;
            bottom: -7px;
            border-top: 8px solid white;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-bottom: none
        }
    }


    .middle {
        display: block;
        height: 366px;
        margin: 0 0 64px 0;

        .first {
            float: left;

            .part {
                @include middle;
                width: 641px;
                height: 90px;

                &:nth-child(1) {
                    height: 114px;
                }
            }
        }

        .second {
            float: right;

            .part {
                @include middle;
                width: 481px;
                height: 90px;

                &:nth-child(1) {
                    height: 114px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .left {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            width: 600px;
            float: left;

            li {
                float: left;

                a {
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;

                    &:hover {
                        color: #8B8D8E;
                    }
                }
            }
        }

        .right {
            float: right;

            .holder {
                float: left;
                height: 48px;
                width: 48px;
                margin: 0 15px 0 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                float: left;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    margin-bottom: 8px;

                    &:nth-child(2) {
                        color: #71747B;
                    }
                }
            }
        }
    }
}