footer {
    @include box;
    height: 745.5px;
    padding: 0 32px 58px;

    .top {
        display: block;
        margin: 32px 0 64px 0;
        height: 82px;

        .logo {
            width: 641px;
            float: left;

            a {
                height: 40px;
                width: 224px;

                img {
                    height: 40px;
                    width: 224px;
                }
            }


            p {
                margin: 16px 0 0 0;
                font-size: 16px;
                color: #8B8D8E;
            }
        }

        ul.soc {
            width: 481px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            float: right;

            li {
                width: 25px;
                height: 25px;
                position: relative;

                a.social-icon {
                    width: 25px;
                    height: 25px;

                    &:hover {
                        color: #fff;

                        .tooltip {
                            visibility: visible;
                            opacity: 1;
                            transform: translate(-50%, -150%);
                        }
                    }

                    &:active {
                        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
                    }
                }

                img {
                    width: 25px;
                    height: 25px;
                }
            }

            .tooltip {
                background-color: #fff;
                color: #000;
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                font-size: 14px;
                opacity: 0;
                transform: translate(-50%, -100%);
                transition: all 0.3s ease;
                z-index: 2;
                width: max-content;
                height: 16px;
                padding: 3px;
                border-radius: 2px;

                &:after {
                    content: " ";
                    position: absolute;
                    right: 46%;
                    bottom: -7px;
                    border-top: 8px solid white;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                    border-bottom: none
                  }
            }
        }
    }

    .middle {
        display: block;
        height: 366px;
        margin: 0 0 64px 0;

        .first {
            float: left;

            .part {
                @include middle;
                width: 641px;
                height: 90px;

                &:nth-child(1) {
                    height: 114px;
                }
            }
        }

        .second {
            float: right;

            .part {
                @include middle;
                width: 481px;
                height: 90px;

                &:nth-child(1) {
                    height: 114px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .left {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            width: 600px;
            float: left;

            li {
                float: left;

                a {
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;

                    &:hover {
                        color: #8B8D8E;
                    }
                }
            }
        }

        .right {
            float: right;

            .holder {
                float: left;
                height: 48px;
                width: 48px;
                margin: 0 15px 0 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .text {
                float: left;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;

                    &:nth-child(2) {
                        color: #71747B;
                    }
                }
            }
        }
    }
}