* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  overflow: visible;
  overflow-wrap: normal;
  word-break: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style-type: none;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}

html {
  scroll-behavior: smooth;
}

a,
button,
input,
textarea,
form {
  color: #000;
  text-decoration: none;
  border: none;
}
a:hover,
button:hover,
input:hover,
textarea:hover,
form:hover {
  cursor: pointer;
}

span {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: clip;
}

body {
  background-color: #161B1D;
}

main {
  background-color: #1E2224;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

[aria-hidden=true] {
  visibility: hidden;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1145px) {
  aside {
    display: none;
  }
}
aside h2 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 32px;
  color: #dce6eb;
  font-weight: 500;
}
aside .aside__insde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
}
aside .aside__insde article {
  background-color: #262a2c;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 384px;
}
aside .aside__insde article a.aside__image {
  border-radius: 8px 8px 0;
}
aside .aside__insde article a.aside__image picture {
  display: block;
  height: 216px;
  max-height: 216px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
aside .aside__insde article a.aside__image picture img {
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
aside .aside__insde article a.aside__image picture img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
aside .aside__insde article .aside__describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 16px 8px;
}
aside .aside__insde article .aside__describe .aside__head {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
aside .aside__insde article .aside__describe .aside__head .aside__news {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}
aside .aside__insde article .aside__describe .aside__head .aside__news svg {
  display: block;
  height: 24px;
  width: 24px;
}
aside .aside__insde article .aside__describe .aside__head .aside__news span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
aside .aside__insde article .aside__describe .aside__head a.aside__user {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dce6eb;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
aside .aside__insde article .aside__describe .aside__head a.aside__user picture {
  outline: 1px solid #ec2227;
  outline-offset: 1px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
aside .aside__insde article .aside__describe .aside__head a.aside__user picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
aside .aside__insde article .aside__describe .aside__head a.aside__user span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.625;
}
aside .aside__insde article .aside__describe .aside__head a.aside__user:hover {
  color: #ec2227;
  text-decoration: underline;
}
aside .aside__insde article .aside__describe .aside__content {
  margin-bottom: 16px;
}
aside .aside__insde article .aside__describe .aside__content a.aside__caption {
  color: #dce6eb;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}
aside .aside__insde article .aside__describe .aside__content a.aside__caption:hover {
  color: #ec2227;
  text-decoration: underline;
}
aside .aside__insde article .aside__describe .aside__date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #747c81;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
aside .aside__insde article .aside__describe .aside__date .aside__time p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}
aside .aside__insde article .aside__describe .aside__date .aside__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
aside .aside__insde article .aside__describe .aside__date .aside__info button.aside__save {
  background: none;
  display: block;
  height: 24px;
  width: 24px;
}
aside .aside__insde article .aside__describe .aside__date .aside__info button.aside__save svg {
  display: block;
  width: 100%;
  height: 100%;
  color: #747c81;
}
aside .aside__insde article .aside__describe .aside__date .aside__info button.aside__save svg:hover {
  color: #ec2227;
}
aside .aside__insde article .aside__describe .aside__date .aside__info a.aside__sms {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  color: #747c81;
}
aside .aside__insde article .aside__describe .aside__date .aside__info a.aside__sms svg {
  display: block;
  height: 24px;
  width: 24px;
}
aside .aside__insde article .aside__describe .aside__date .aside__info a.aside__sms:hover {
  color: #ec2227;
}