<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width; initial-scale=1">
	<link rel="stylesheet" href="css/all.css" type="text/css" />
	<link rel="stylesheet" href="sass/fonts.css" type="text/css" />
	<link rel="stylesheet" href="css/scss.css" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
	<title>GameBlog</title>
</head>

<body>
	<div id="wrapper">
		<main>
			<div id="content">
				<section class="filters">
					<div class="filters_tabs">
						<ul class="filters filters_tabs filter_list">
							<li class=>
								<a class="filter" href="#">Все</a>
							</li>
							<li>
								<a class="filter" href="#">PC</a>
							</li>
							<li>
								<a class="filter" href="#">Xbox One</a>
							</li>
							<li>
								<a class="filter" href="#">Xbox Series X|S</a>
							</li>
							<li>
								<a class="filter" href="#">PlayStation 4</a>
							</li>
							<li>
								<a class="filter" href="#">PlayStation 5</a>
							</li>
							<li>
								<a class="filter" href="#">Stadia</a>
							</li>
							<li>
								<a class="filter" href="#">VR</a>
							</li>
							<li>
								<a class="filter" href="#">Nintendo Switch</a>
							</li>
							<li>
								<a class="filter" href="#">ММО</a>
							</li>
							<li>
								<a class="filter" href="#">Мобильные</a>
							</li>
							<li>
								<a class="filter" href="#">Социальные</a>
							</li>
							<li>
								<a class="filter" href="#">Фановые</a>
							</li>
							<li>
								<a class="filter" href="#">Железо</a>
							</li>
							<li>
								<a class="filter" href="#">Индустрия</a>
							</li>
							<li>
								<a class="filter" href="#">Киберспорт</a>
							</li>
							<li>
								<a class="filter" href="#">Кино</a>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</main>
	</div>
</body>

</html>