/* SCSS Compiled */
/*usage  @include font-size(13);*/
#wrapper,
main,
#content,
#sidebar,
aside,
section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.layout {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
}

.filters {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  background-color: #1E2224;
}