@charset "UTF-8";
/* SCSS Compiled */
* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-image: none;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  overflow: visible;
  overflow-wrap: normal;
  word-break: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style-type: none;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
}

html {
  scroll-behavior: smooth;
}

a, button, input, textarea, form {
  color: #000;
  text-decoration: none;
  border: none;
}
a:hover, button:hover, input:hover, textarea:hover, form:hover {
  cursor: pointer;
}

span {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: clip;
}

[aria-hidden=true] {
  visibility: hidden;
}

/*usage  @include font-size(13);*/
#wrapper,
main,
#content,
#sidebar,
aside,
section {
  display: block;
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

body {
  background-color: #161B1D;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer__information {
  max-width: 1280px;
  margin: 24px auto 0;
  padding: 0 32px 58px;
  position: relative;
}
footer .footer__information .footer__box {
  grid-column-gap: 7.73%;
  grid-row-gap: 64px;
  display: -ms-grid;
  display: grid;
}
footer .footer__information .footer__box .footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 32px 0 0 0;
}
footer .footer__information .footer__box .footer__socials .footer__logo a {
  height: 40px;
  width: 224px;
  display: block;
}
footer .footer__information .footer__box .footer__socials .footer__logo a img {
  height: 40px;
  width: 224px;
  display: block;
}
footer .footer__information .footer__box .footer__socials .footer__logo p {
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 1.625;
  font-family: "Rubik", sans-serif;
  color: #8B8D8E;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons {
  width: 481px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li {
  width: 25px;
  height: 25px;
  position: relative;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li a.social-icon {
  width: 25px;
  height: 25px;
  display: block;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li a.social-icon svg {
  display: block;
  width: 25px;
  height: 25px;
  color: white;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li a.social-icon svg:hover {
  color: #6A7276;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li a.social-icon:hover {
  color: #fff;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li a.social-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li a.social-icon:active {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown {
  position: relative;
  display: inline-block;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown svg {
  display: block;
  width: 25px;
  height: 25px;
  color: white;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown svg:hover {
  color: #6A7276;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown .dropdown-content {
  opacity: 0;
  position: absolute;
  background-color: #383838;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  z-index: 2;
  left: -350%;
  top: 32px;
  -webkit-transition: max-height 0.3s ease, opacity 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown .dropdown-content li {
  width: 200px;
  height: 52px;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown .dropdown-content li a {
  color: #fff;
  display: block;
  padding: 16px;
  font-family: "Rubik", sans-serif;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown .dropdown-content li a:hover {
  color: #747C81;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown .dropdown-content li a p {
  font-size: 14px;
  float: left;
  font-family: "Rubik", sans-serif;
}
footer .footer__information .footer__box .footer__socials ul.footer__icons li .dropdown .dropdown-content li a svg {
  width: 16px;
  height: 16px;
  float: right;
}
footer .footer__information .footer__box .tooltip {
  background-color: #fff;
  color: #000;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  opacity: 0;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 3px;
}
footer .footer__information .footer__box .tooltip:after {
  content: " ";
  position: absolute;
  right: 46%;
  bottom: -7px;
  border-top: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: none;
}
footer .footer__information .footer__box .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 64px 0;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part {
  width: 641px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 0 32px 0;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__name {
  margin: 0 0 16px;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__name li {
  display: block;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__name li a {
  color: #fff;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  font-weight: bold;
  display: block;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__name li a:hover {
  color: #8B8D8E;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  padding: 0;
  row-gap: 8px;
  margin: 0 0 32px 0;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__fill li {
  float: left;
  list-style-type: disc;
  color: #747C81;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__fill li:nth-child(1) {
  list-style-type: none;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__fill li::marker {
  font-size: 8px;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__fill li a {
  margin: 0 8px 0 8px;
  cursor: pointer;
  color: #747C81;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  line-height: 20px;
  content: "⋅";
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__fill li a:nth-child(1) {
  margin-left: 0px;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part .list__fill li a:hover {
  color: #fff;
}
footer .footer__information .footer__box .footer__list .footer__list__left .list__part:nth-child(1) {
  height: 114px;
}
footer .footer__information .footer__box .footer__list .footer__list__right {
  margin: 0 0 32px 0;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part {
  width: 481px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__name {
  margin: 0 0 16px;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__name li {
  display: block;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__name li a {
  color: #fff;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  line-height: 20px;
  font-weight: bold;
  display: block;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__name li a:hover {
  color: #8B8D8E;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
  padding: 0;
  row-gap: 8px;
  margin: 0 0 32px 0;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__fill li {
  float: left;
  list-style-type: disc;
  color: #747C81;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__fill li:nth-child(1) {
  list-style-type: none;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__fill li::marker {
  font-size: 8px;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__fill li a {
  margin: 0 8px 0 8px;
  cursor: pointer;
  color: #747C81;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  line-height: 20px;
  content: "⋅";
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__fill li a:nth-child(1) {
  margin-left: 0px;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part .list__fill li a:hover {
  color: #fff;
}
footer .footer__information .footer__box .footer__list .footer__list__right .list__part:nth-child(1) {
  height: 114px;
}
footer .footer__information .footer__help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
footer .footer__information .footer__help .footer__help__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 17px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
footer .footer__information .footer__help .footer__help__left li {
  float: left;
  display: block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
footer .footer__information .footer__help .footer__help__left li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  display: block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
footer .footer__information .footer__help .footer__help__left li a:hover {
  color: #8B8D8E;
}
footer .footer__information .footer__help .footer__help__right {
  --restriction-width: 48px;
  grid-column-gap: 15px;
  grid-row-gap: 17px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--restriction-width) 15px 1fr;
  grid-template-columns: var(--restriction-width) 1fr;
}
footer .footer__information .footer__help .footer__help__right img {
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  height: var(--restriction-width);
  width: var(--restriction-width);
}
footer .footer__information .footer__help .footer__help__right span {
  display: block;
}
footer .footer__information .footer__help .footer__help__right span p {
  font-size: 16px;
  font-weight: 600;
  font-family: Rubik, sans-serif;
  color: #fff;
}
footer .footer__information .footer__help .footer__help__right span:nth-child(3) p {
  color: #71747B;
  font-weight: normal;
  line-height: 1.625;
  font-size: 14px;
}